[submodule "ruckig"]
	path = ruckig
	url = https://github.com/pantor/ruckig.git
[submodule "affx"]
	path = affx
	url = https://github.com/pantor/affx.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
